/* CSS Document */
.row1{
    padding-bottom: 20px;
}
.row2{
    padding-bottom: 20px;
    background-color: gold;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
.row3{
    padding-bottom: 20px;

}
.row4{
    padding-bottom: 20px;

}

